doctype
html
		head
				title Scott Woodend
				link(rel="stylesheet" type="text/css" href="/stylesheets/style.css")
				script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
				link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css")
				script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js")
				script(type="text/javascript" src="/scripts/script.js")
				link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
		body
				
				div(class="main-header")
						div(class="name-link")
								a(href="/") Scott Woodend
						div(class="nav-options")
								a(href="#"): i(class="material-icons") view_carousel
								a(href="#"): i(class="material-icons") reorder
								a(href="#"): i(class="material-icons") toc
				
				div(class="main-title")
						div(class="title-box")
								h1 Recent Work.

				div(class="project-showcase")
					img(src="http://res.cloudinary.com/ddbeeuyr4/image/upload/v1486693715/imageedit_1_8458029039_mrmjf5.png")
					img( id="project-picture" src="")

				div(class="about-me")

