doctype
html
	head
		title Scott Woodend
		link(rel="stylesheet" type="text/css" href="/stylesheets/style.css")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js")
		script(type="text/javascript" src="/scripts/script.js")
		link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
	body

		div(class="main-header")
			div(class="name-link")
				a(href="/") Scott Woodend
			div(class="nav-options")
				a(href="#"): i(class="material-icons") view_carousel
				a(href="#"): i(class="material-icons") reorder
				a(href="#"): i(class="material-icons") toc

		div(class="main-title")
		div(class="title-box")
			h1 Recent Work.

		div.carousel
				a(href="/projects/twitch_viewer").carousel-item: img(src="http://res.cloudinary.com/ddbeeuyr4/image/upload/v1486764480/twitch_viewer_nb_neyobf.png")
				a(href="/projects/wiki_view").carousel-item: img(src="http://res.cloudinary.com/ddbeeuyr4/image/upload/v1486764480/wiki_view_nb_si5smv.png")
				a(href="/projects/simon").carousel-item: img(src="http://res.cloudinary.com/ddbeeuyr4/image/upload/v1486764480/simon_nb_yoqoh1.png")
				a(href="/projects/tic_tac_toe").carousel-item: img(src="http://res.cloudinary.com/ddbeeuyr4/image/upload/v1486764480/tic_tac_toe_nb_by5m14.png")
				a(href="/projects/pomodoro").carousel-item: img(src="http://res.cloudinary.com/ddbeeuyr4/image/upload/v1486764480/pomodoro_nb_x7043d.png")
				a(href="/projects/asteroids_ai").carousel-item: img(src="http://res.cloudinary.com/ddbeeuyr4/image/upload/v1486764480/asteroids_ai_nb_ibulb5.png")
				a(href="/projects/ween_scraper").carousel-item: img(src="http://res.cloudinary.com/ddbeeuyr4/image/upload/v1486764480/generic_code_nb_e3pil6.png")
				a(href="/projects/automate_daily_reports").carousel-item: img(src="http://res.cloudinary.com/ddbeeuyr4/image/upload/v1486764480/generic_code_nb_e3pil6.png")

		div(class="about-me")