doctype
html
  head
    title Scott Woodend
    link(rel="stylesheet" type="text/css" href="/stylesheets/style.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js")
    script(type="text/javascript" src="/scripts/script.js")
  body
    h1 here's some content
    h3 and a message #{msg}








