doctype
html
	head
		title Scott Woodend
		link(rel="stylesheet" type="text/css" href="/stylesheets/style.css")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js")
		script(type="text/javascript" src="/scripts/script.js")
		link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
	body

		div(class="main-header")
			div(class="name-link")
				a(href="/") Scott Woodend
			div(class="nav-options")
				a(href="#"): i(class="material-icons") view_carousel
				a(href="#"): i(class="material-icons") reorder
				a(href="#"): i(class="material-icons") toc

		div(class="main-title")
		div(class="title-box")
			h1 Recent Work.

		div.carousel
				a(href="/projects/wiki_view").carousel-item: img(src="http://res.cloudinary.com/ddbeeuyr4/image/upload/v1486760993/imageedit__5513226445_q1suac.png")
				a(href="/projects/twitch_viewer").carousel-item: img(src="http://res.cloudinary.com/ddbeeuyr4/image/upload/v1486759949/twitch_viewer_rbzbtv.png")
				a(href="/projects/simon").carousel-item: img(src="http://res.cloudinary.com/ddbeeuyr4/image/upload/v1486759949/simon_wh02az.png")
				a(href="/projects/asteroids_ai").carousel-item: img(src="http://res.cloudinary.com/ddbeeuyr4/image/upload/v1486759948/asteroids_ai_if1gns.png")
				a(href="/projects/tic_tac_toe").carousel-item: img(src="http://res.cloudinary.com/ddbeeuyr4/image/upload/v1486759949/tic_tac_toe_crcgla.png")
				a(href="/projects/pomodoro_clock").carousel-item: img(src="http://res.cloudinary.com/ddbeeuyr4/image/upload/v1486759949/pomodoro_clock_gzzvs4.png")
				a(href="/projects/ween_scraper").carousel-item: img(src="http://res.cloudinary.com/ddbeeuyr4/image/upload/v1486759949/generic_code_cam5sb.png")
				a(href="automate_daily_reports").carousel-item: img(src="http://res.cloudinary.com/ddbeeuyr4/image/upload/v1486759949/generic_code_cam5sb.png")



		div(class="about-me")